.body
{
    background-image: url("images/gigyas.jpg");
    background-repeat: repeat;
}

.box
{
    background-color: rgb(23, 30, 32);
    padding: 20px;
    width: 70%;
    text-align: center;
    margin: auto;
}

.pokey
{
    position: relative;
    left: 90%;
}

.text
{
    color: red;
    font-size: 28;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    text-align: center;
}