.text
{
    color: red;
    font-size: 28;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}

.box
{
    background-color: rgb(27, 43, 46);
    padding: 20px;
    width: 50%;
    text-align: center;
}